.ui-button{
   color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 7px;
    text-decoration: none;
    font-size: x-large;
    font-family: "Montserrat";
    padding: 1.5vw; margin-top: 2.5vh;
    margin-bottom: 1.5vh;
    
}

.timer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family:"Montserrat" ;
    font-size: x-large;
    background-color: rgb(250, 238, 223);
    
    
.timer__items{
    font-weight: 700;
}

}
