.ui-button{
    font-family: "Montserrat";
    font-size: clamp(16px, 5vw, 50px);
    width: clamp(100px, 25vw, 400px);
}

.timer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

.timer__item{
    font-family:"Montserrat" ;
    font-size: xx-large;
}

}