@use './variables' as *;



.blockAccordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
 
    
.blockAccordion__btn{
   color: white;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 7px;
    text-decoration: none;
    font-size: x-large;
    font-family: "Montserrat";
    padding: 3.5vw; margin-top: 2.5vh;
    margin-bottom: 1.5vh; width: 80vw;
    
}


.accordionInsade{
    font-size: x-large;
    padding-left: 3.5vw;
    
}


    
}


.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding-top: 10vh;
    font-family: $font-text;
    overflow-y: hidden

}

.slaider{
    display: flex;
    width: 100%;

    
.slaider__img{
   width: 100%; 
}

}



