.header{
  display: flex;
  position: fixed;
  align-items: center;
  height: 8vh;
  z-index: 1001;
  width: 100%;
  border: 1px solid white;
  background-color: white;
 
.header__brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-size: clamp(22px, 3vw, 44px);
  width: 100%;
}





}


.header__burger {
  width: 30px;
  height: 20px;
  margin: 1vw;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  height: 3px;
  background: #000;
  border-radius: 2px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat";
  background: #02000056;
  padding: 20px;
  height: 5vh;
  position: absolute;
  top: clamp(40px, 8vh, 80px );
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__link{
  font-size: x-large;
  text-decoration: none;
  color: white;
}

