@use './variables' as *;


.ShopCollection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

&__title{
    font-size: xx-large;
    font-family: $font-text;
}

.ShopCollection__items  {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  
}
    
}

.ShopCollection-bestSeller{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  width: 100%;

&__title{
  font-size: xx-large;
  font-family: $font-text;
  margin: 1vh;
}

&__subtitle{
  font-family: $font-text;
  font-size: x-large;
  margin: 1vh;
}



}

.ShopCollection-bestSeller__banner{
  display: flex;
  width: 100%;
  height: auto;
}

.WinterSale{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  width: 100%;

&__title{
  font-size: xx-large;
  font-family: $font-text;
  margin: 1vh;
}

&__subtitle{
  font-family: $font-text;
  font-size: x-large;
  margin: 1vh;
}

.WinterSale__img{
  width: 100%;
  height: auto;
}
}