@use './variables' as *;

@use 'mixins';
@use 'header';
@use 'Main';
@use 'body';
@use 'ProductCard';
@use 'Button';
@use 'ShopCollection';
@use 'Footer';
@use 'Faq';






@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");